/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}
body{
    background-color:rgb(237, 246, 253);
}
#popup {
    z-index: 9999999999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 2%;
    position: fixed;
    width: 500px;
    height: 200px;
    margin: auto auto; /* Will not center vertically and won't work in IE6/7. */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.popup-text {
    text-align: center;
    margin-bottom: 20px;
}

.popup-button {
    padding: 5px;
    margin: 0 50px;
    text-align: center;
}

.clear {
    clear: both;
}
.text-white {
    color: #fff !important;
}

#main {

}
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #2B4045;
    z-index: 99999;
}
#nav {
    display: inline-block;
}
#nav, .subnav {
    list-style-type: none;
}
#nav > li {
    display: inline-block;
}
#nav li {    
    position: relative;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}
#nav li:hover .subnav {
    display: block;
}
#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #d9d9d9;
}
#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;    
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
}
#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#nav .nav-arrow-down {
    font-size: 14px;
}
#header .search-btn {
    float: right;
    padding: 0 21px;
}
#header .search-btn:hover {
    cursor: pointer;
    background-color: #9b251e;
}
#header .search-icon {
    color:#fff;
    font-size: 20px;
    line-height: 46px;
}
#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('https://i.pinimg.com/736x/67/0e/bf/670ebf6efedc9b379a536007f972dff6.jpg') top center / cover no-repeat;
}
#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}
#slider .text-heading {
    font-weight: 500;
    font-size: 30px;
}
#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}
#content {

}
#content .content-section {
    width: 800px;
    padding: 64px 0 64px;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}
#content .members-list {
    margin-top: 48px;
}
#content .member-item {
    float: left;
    width: calc(100% / 5);
    text-align: center;
}
#content .member-name {
    font-size: 15px;
}
#content .member-img {
    width: 150px;
    height: 180px;
    margin-top: 15px;
    border-radius: 4px;
    object-fit: cover;
    object-position: top;
    image-rendering: pixelated;
}
/* Tour section */
.tour-section {
    background-color: #000;
}
.tickets-list {
    background-color: #fff;
    margin-top: 40px;
}
.tickets-list li {
    font-size: 15px;
    color: #757575;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.tickets-list .sold-out {
    background-color: #ae241c;
    padding: 3px 4px;
    margin-left: 16px;
    border-radius: 2px;
}
.tickets-list .quatity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
}


#footer {

}

/* Shopping Cart
----------------------------------------------- */
#shoppingCart{background-color: #fff;
    float: left;
    color: #474747;
    width: 263px;
    padding: 0 10px 10px;
    border: 1px solid #ddd;}
    #shoppingCart h2{background: no-repeat left top;display:block;font-size:16px;color:#5F5F5F;text-decoration:none;margin-bottom:10px;padding:0 0 10px 25px}
    .itemname{float:left;clear:both}
    .item_thumb{padding:10px}
    .item_price{display:block;height:20px;position:absolute;bottom:-20px;text-align: center; color:#2a4978;font: size 20px;px;font-weight:700;text-align:left;border:0 none;padding:5px 10px;margin: 5px;}
    .simpleCart_items{background-color: #f4f4f4;
    -moz-box-shadow: inset #082849 0 2px 7px;
    font-size: 80%;
    min-height: 120px;
    display: block;
    margin: 0 auto 10px;
    overflow: hidden;
    padding: 10px;border: 1px solid #ddd;}
    .simpleCart_items img{text-align:left;width:40px!important;height:40px!important;padding:2px}
    .itemRow{float:left;width:210px;text-align:center;display:block;position:relative;bottom:0}
    .item-thumb{float:left;width:58px;margin:0}
    .item-quantity{float:left;width:25px;margin:6px 0;}
    .item-quantity{border:none;color:#6e6e6e;background:none;float:left;font:bold 11px Arial,sans-serif;height:22px;text-align:center;width:25px;padding:5px;line-height: 22px;}
    .itemQuantity input:focus{outline:none}
    .item-remove a{color:#818181;float:left;font-weight:700;margin:15px 0 0 15px}
    .item-total{color:#6e6e6e;float:left;font:bold 11px Arial,sans-serif;text-align:right;width:55px;margin:15px 0 0 10px;padding:0}
    .simpleCart_finalTotal{color:#474747;font-size:18px}
    .cart table{border-collapse:collapse;margin-top:20px}
    .cart table td.odd{color:#fff;text-align:left;width:100px}
    .cart table td.even{color:#fff;text-align:right;width:100px}
    a.simpleCart_empty{background-color: #2B4045;
    display:block;font:bold 12px Arial;text-align:center;text-decoration:none;color:#fff;float:left;width:80px;margin:0 20px;padding:6px}
    .cartbuttons{margin:10px 0 0}
    a.simpleCart_checkout{background-color: #2B4045;
    display:block;font:bold 12px Arial;text-align:center;text-decoration:none;color:#fff;float:left;width:80px;padding:6px}
    input.item_add:hover{background-position:bottom left;color: #000;   
        background-color: #d9d9d9;}
    input.item_add{  color: #fff;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    border: none;
    width: 80px;
    background-color: #2B4045;
    margin: 10px;
    float: right;
    padding: 7px;  cursor: pointer;}
    #checkout{background:#D9D9D9;color:#000;text-decoration:none;font-size:80%;display:block;text-align:center;-moz-border-radius:5px;border-radius:5px;-webkit-border-radius:5px;padding:10px}
    #checkout:hover{background:#333;color:#FFF}
    .hidden_value,.headerRow{display:none}
    a.simpleCart_empty:hover,a.simpleCart_checkout:hover{background:#d9d9d9;color:#000}
    .product_image{width:225px;height:200px;background:#fff;float:left;text-align:left;margin:0 15px 10px 0;padding:13px 10px 13px 13px}
    .product_image img{width:160px;height:160px}
    .shadow{width:645px; height:39px; margin:0 auto}
    a.shop {float:right;background:#45b52f repeat-x top left;display:block;margin:10px 0 0 0;padding:4px 10px;color:#fff;font-weight:700}
    a.shop:hover {color:#000}
    #nav-wrapper{font-family: "Tahoma",Palatino,serif;
    overflow: hidden;
    border-bottom: 3px solid #fff;
    background-color: #EEEEEE;
    border-bottom: 1px solid #e2e2e2;
    margin: 0 0 10px 0;
    min-height: 40px;line-height: 40px;}
    #nav{margin:0 auto;width:1170px;height:28px;padding:0;}
    #nav ul{float:left;width:auto;height:28px;margin:0;padding:0;list-style-type:none}
    #nav ul li{float:left;height:28px}
    #nav ul li a,#nav ul li a:visited{float:left;height:28px;padding:14px 8px;color:#888;font:bold 11px Arial;text-transform:none}
    #nav ul li a:hover{background:#4b7bbf;color:#eee;text-decoration:none;}
    .PopularPosts .widget-content ul li{background:none repeat scroll 0 0 transparent;float:left;list-style:none outside none;margin:0 !important;padding: 0 !important;border-bottom:none}
    .PopularPosts ul{padding:5px 0}
    .PopularPosts .item-thumbnail img{width:104px;height:104px;padding:2px;margin:0}
    .PopularPosts .item-content{position:relative;float:left;margin:0}
    .PopularPosts .item-title a{font:12px Arial;color:#fff;display:block;padding:0 5px;float:left;width:100px}
    .PopularPosts .item-title a:hover{background:#000;color:#ccc;}
    .PopularPosts .item-thumbnail{float:left;margin:3px 5px 7px 5px;border:1px solid #bbb;overflow: hidden}
    .PopularPosts .item-title{background: url(); position:absolute;bottom:8px;right:6px}
    .quickedit{display:none}

    .form-control {
        padding: 5px;
        font-size: 1.2rem;
        width: 60px;
    }
    .ta-dao{margin-top: 20px;}

    /*---Flicker Image Gallery-----*/
    .flickr_plugin {
    width: 100%;
    margin-top: -15px;
    }
    .flickr_badge_image {
    float: left;
    height: 75px;
    margin: 8px 5px 0px 5px;
    width: 75px;
    }
    .flickr_badge_image a {
    display: block;
    }
    .flickr_badge_image a img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-transition: opacity 100ms linear;
    -moz-transition: opacity 100ms linear;
    -ms-transition: opacity 100ms linear;
    -o-transition: opacity 100ms linear;
    transition: opacity 100ms linear;
    }
    .flickr_badge_image a img:hover {
    opacity: .5;
    }
    #footer-wrapper .PopularPosts .item-thumbnail img {
    width: 65px;
    height: 65px;
    padding: 2px;
    margin: 0;
    }
    #footer-wrapper .PopularPosts .item-title {
    background: #ccc;
    position: absolute;
    bottom: 8px;
    right: 6px;
    display: none;
    }

.post {
    margin: 0 auto 10px;
    display: block;
    float: none;
    background-color: white;
}

.post {
    border: 1px solid #dbdbdb;
    list-style: none;
    width: 242px;
    margin-left: 30px;
    margin-bottom: 10px;
    text-align: center;
    height: 320px;
    display: inline;
    float: left;
    overflow: hidden;
    position: relative;
    padding: 5px 10px 10px;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
}

#main-wrapper {
    width: 885px;
    float: right;
    word-wrap: break-word;
    overflow: hidden;
}

input.item_add {
    color: #fff;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    border: none;
    width: 80px;
    background-color: #2B4045;
    margin-right: 10px;
    float: right;
    padding: 7px;
    cursor: pointer;
}

#content > .cartbuttons:hover > a {
    color: #000;
    background-color: #ACB576;
}